#modals{

	#sewingModalLabel, #designModalLabel, #archeryModalLabel, #plasticModalLabel, #placesModalLabel{
		color:$blush;
	}

	.modal{
		width: 98vw;

		p{
			color:black;
		}

	}

	a{
		color:#786dff;
	}

}
